Photos-3-001
.DS_Store
Blur_Photos-3-001
Trashed Photos-3-001
Photos-3-001 (3)
Photos-3-001 (4)
img
__pycache__
photos_backUp
photos

GPH OP

# Python packaging & PyInstaller artifacts
build/
dist/
*.spec
*.egg-info/
.eggs/
